<%- include("partials/header"); %>

<% posts.forEach(function(post) { %>
    <li><%= post.title %> - <strong> <%= post.author %></strong></li>
<% }); %>
<h1>hello!</h1>
<p>this is a test.</p>

<%- include("partials/footer"); %>